* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #121111;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.app {
    background: rgb(255, 231, 231);
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-bottom: 1px solid #f22106;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: gray;
}

.todo-text {
    flex: 1;
}

.delete-btn {
    border: none;
    background: none;
    color: rgb(246, 7, 7);
    font-size: 18px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-btn {
    padding: 5px 10px;
    border: none;
    background: #dad9d9;
    border-radius: 5px;
}

.filter-btn.active {
    background: black;
    color: rgb(250, 250, 250);
}

#clearCompletedBtn {
    background: rgb(13, 13, 13);
    color: rgb(255, 255, 255);
    border: none;
    padding: 6px;
    border-radius: 5px;
}
